.authLayout {
    background-color: #000000; // Black background
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // Other styles similar to login page
  }
  