// PasswordReset.module.scss

.resetPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Full viewport height
    background-color: #000000; // Black background
    margin-left: -350px;

    .resetPasswordForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 8px;
      background-color: #1c1c1c; // Slightly lighter than the background for contrast
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

      h1 {
        color: #ffffff;
        margin-bottom: 20px;
      }
  
      input {
        width: 300px; // Adjust as needed
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #333333;
        border-radius: 4px;
        background-color: #262626;
        color: #ffffff;
  
        &:focus {
          outline: none;
          border-color: #007bff; // Highlight color when focused
        }
      }
  
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ff6a00; // Vibrant color for the button
        color: #ffffff;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        text-transform: uppercase; // Uppercase for emphasis
        letter-spacing: 1px; // Increased letter spacing for readability
  
        &:hover {
          background-color: #e65c00; // Slightly darker on hover
          transform: translateY(-2px); // Lift effect on hover
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); // Subtle shadow for depth
        }
  
        &:active {
          transform: translateY(1px); // Press-down effect on active
          box-shadow: none; // Removes shadow on press
        }
      }
  
      p {
        color: #ffffff;
        margin-top: 15px;
      }
    }
    .linkToLogin {
        color: #007bff; // or any color you prefer
        text-decoration: underline;
        font-family: Arial, sans-serif; // specify your desired font here
        font-size: 1em; // adjust as needed
        // Add any additional styles you desire
      }
      .successMessage {
        font-family: Arial, sans-serif; // specify your desired font here
        font-size: 1em; // adjust as needed
        color: #28a745; // choose a color that indicates success
        // Add any additional styles you desire
      }
  }
