.commonCardStyle {
    background: linear-gradient(to bottom, var(--sidebar-bg-color), var(--sidebar-bg-color-darker));
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    width: 500px;
    font-family: 'Arial', sans-serif;
    margin: 10px auto;
    flex: 1;
    min-height: 100px;s
    }
    
    .userInfo {
      display: grid;
      grid-template-columns: 1fr 1fr; // Two columns of equal width
      grid-template-rows: auto auto auto auto; // Four rows, height set automatically
      grid-template-areas: 
        "userName date"
        "userDescription userDescription"
        "userGif userGif"
        "userEmotion likesContainer";
      grid-gap: 10px;
  
      .userTop {
        display: flex;
        justify-content: space-between; 
      }
    
      .userName {
        grid-area: userName;
        font-size: 15px;
        text-decoration: underline;
        justify-self: start;
      }
    
      .userDescription {
        grid-area: userDescription;
        font-size: 14px;
        text-align: left;
      }
      .userGif {
        grid-area: userGif;
        font-size: 14px; /* Adjust if necessary */
        //width: 100%; /* Set to desired width */
        height: auto; /* Height will adjust based on the aspect ratio of the content */
        max-width: 300px; /* Set a maximum width if needed */
        max-height: 300px; /* Set a maximum height if needed */
        padding: 0px; /* Adjust padding if needed */
        //display: flex; /* Using flex to center content */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
      }
      .userGif img {
        width: 100%; /* Make the image take the full width of its container */
        height: auto; /* Keep the aspect ratio */
        max-width: 100%; /* Ensure it doesn't exceed the bounds of the container */
      }
      @media (min-width: 768px) {
        .userGif img {
          max-width: 100%; // or a suitable percentage
        }
      }
      .userEmotion {
        grid-area: userEmotion;
        font-size: 14px;
      }
    
      .userMood {
        grid-area: userMood;
        font-size: 14px;
      }
    
      .userLocation {
        font-size: 14px;
        grid-area: userLocation;
      }
    
      .likesContainer {
        grid-area: likesContainer;
        display: flex;
        align-items: center; /* Vertically aligns the flex items */
        justify-content: flex-start; /* Horizontal alignment */
        justify-self: end;
        .transparentButton {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;
          outline: none;
          width: 30px;
          height: 30px;
        }
      }
    
      .date {
        grid-area: date;
        font-size: 14px;
        justify-self: end;
      }
    }