.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Full viewport height
    background-color: #000000; // Black background
    margin-left: -350px;
    .forgotPasswordForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 8px;
      background-color: #1c1c1c; // Slightly lighter than the background for contrast
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      
      .errorMessage {
        font-family: Arial, Helvetica, sans-serif; // Replace with your desired font
        //color: #ff4d4d; // Example: red color for errors
        margin-top: 10px;
        // Other styling as needed
      }
      h1 {
        color: #ffffff;
        margin-bottom: 20px;
      }
  
      input {
        width: 300px; // Adjust as needed
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #333333;
        border-radius: 4px;
        background-color: #262626;
        color: #ffffff;
  
        &:focus {
          outline: none;
          border-color: #007bff; // Highlight color when focused
        }
      }
  
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ff6a00; // A vibrant color for the button
        color: #ffffff;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        text-transform: uppercase; // Makes the text uppercase for emphasis
        letter-spacing: 1px; // Increases letter spacing for better readability
  
        &:hover {
          background-color: #e65c00; // A slightly darker shade on hover
          transform: translateY(-2px); // Slight lift on hover
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); // Subtle shadow for depth
        }
  
        &:active {
          transform: translateY(1px); // Slight press-down effect on active
          box-shadow: none; // Removes shadow on press
        }
      }
  
      p {
        color: #ffffff;
        margin-top: 15px;
      }
    }
  }
  